---
layout: page
title: "曰若稽古"
description: "mio | yzgu mio."
header-img: "img/about-bg.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
		主席呀，‘文化大革命’的结论我作不合适，我是桃花源中人。不知有汉，何论魏晋。
    </blockquote>
    <br>
　　就在15个月以前，我们中间大部分人曾聚集在这座坟墓周围，当时，这里将是一位高贵的崇高的妇女最后安息的地方。今天，我们又要掘开这座坟墓，把她丈夫的遗体放在里面。<br>
　　卡尔·马克思是百年少有的杰出人物之一。查理·达尔文发现了我们星球上有机界的发展规律。马克思则发现了决定人类历史运动和发展的基本规律，这是一个浅显易懂的规律，几乎只要略加说明就能保证它得到承认。不仅如此，马克思还发现了造成我们目前的社会制度及其分为资本家和雇佣工人的巨大阶级划分的规律；按照这一规律，这个社会形成和成长起来，暂时大致还没有衰亡下去；由于这一规律，这个社会最终必将像所有以前的社会历史阶段一样灭亡。看到这些成果，特别沉痛地感到，正当他的工作高度展开的时候我们失去了他，不管他做了多么多的工作，他还留下了更多没有完成的工作。<br>
　　尽管他专心致志地研究科学，但是他远没有完全陷进科学。没有一个人能像马克思那样，对任何领域的每个科学成就，不管它是否已实际应用，都感到真正的喜悦。但是，他把科学首先看成是历史的有力的杠杆，看成是最高意义上的革命力量。而且他正是把科学当做这种力量来加以利用，在他看来，他所掌握的渊博的知识，特别是有关历史的一切领域的知识，用处就在这里。<br>
　　因为，像他自己说的那样，他的确是一个革命者。为雇佣工人阶级摆脱现代资本主义经济生产制度的桎梏而斗争，这是他真正的爱好，从来还没有过一个像他那样积极的战士。他这部分活动的最杰出的成就是建立了国际工人协会，他从1864年到1872年一直被公认为该协会的领袖。从表面迹象来看，这个协会已不再存在；但是欧美一切文明国家工人同盟的兄弟联系永久地确立了，并且没有任何表面的形式上的同盟联系，它也会一直继续存在下去。<br>
　　凡是为某种事业进行斗争的人，都不可能不树立自己的敌人，因此他也有许多敌人。在他的大部分政治生涯中，他在欧洲是一个最遭嫉恨和最受诬蔑的人。但是他对诬蔑几乎并不在意。如果世界上有人能忍受诬蔑，这个人就是他，在他死的时候，他可以骄傲地看到，在西伯利亚矿井、在欧洲和美洲的工厂里，他有千百万追随者；他看到，他的经济理论已被全世界看做是社会主义的无可争辩的基础，他还有许多敌人，但是个人的敌人恐怕连一个也没有。<br>

    <p style="text-align:right;">
        —— <a href="https://www.marxists.org/chinese/engels/mia-chinese-engels-18830317.htm">弗·恩格斯 － 在马克思墓前的讲话 </a>
    </p>
</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
